
$baseColor: #f18966;
$baseDark: #5b342b;

$backgroundColor: #292929;

$borderRadius: 8px;
$sectionBackground: rgba(245, 245, 245, 0.23);
$sectionDarkBackground: rgba(25, 25, 25, 0.8);

$sectionShadow: 0 10px 10px rgba(0, 0, 0, 0.5), 0 1px 8px rgba(0, 0, 0, 0.5);
$sectionBlur: c;

$screen-sm: 768px;
$screen-md: 1366px;
$screen-lg: 1920px;

@mixin mediaScreenSM {
  @media screen and (min-width: $screen-sm) { @content; }
}
@mixin mediaScreenMD {
  @media screen and (min-width: $screen-md) { @content; }
}
@mixin mediaScreenLG {
  @media screen and (min-width: $screen-lg) { @content; }
}

$zMap: 1;
$zSections: 2;
$zProgress: 3;
$zIndicator: 4;
